<div class="cloud-animate" ng-init="init()">
    <div id="background" class="background">

        <div class="title">secureSync</div>

        <div id="x1" class="x1">
            <div class="cloud">
                <span id="lock1" class="lock"></span>
            </div>
        </div>

        <div id="x2" class="x2">
            <div class="cloud">
                <span id="lock2" class="lock"></span>
            </div>
        </div>

        <div id="x3" class="x3">
            <div class="cloud">
                <span id="lock3" class="lock"></span>
            </div>
        </div>

        <div id="x4" class="x4">
            <div class="cloud">
                <span id="lock4" class="lock"></span>
            </div>
        </div>

        <div id="x5" class="x5">
            <div class="cloud">
                <span id="lock5" class="lock"></span>
            </div>
        </div>


        <div class="back"><button class="btn btn-primary" ng-click="backToMain()">Back</button></div>

    </div><!-- /background -->
</div>