<div class="col-md-12 groups" id="popupContainer">
    <div class="section-header">Groups
        <div class="pull-right btn btn-primary" ng-click="createGroup($event)">Add</div>
    </div>

    <div ng-repeat="group in groups">

        <button class="btn btn-info group"
                ng-bind="group.name"
                id="{{ $index }}"
                data-toggle="collapse" data-target="#collapse_{{ $index }}"></button>

        <div id="collapse_{{ $index }}" class="collapse group-collapse col-md-12">
            <div class="form-inline">
                <label>Owner:</label>
                <div ng-bind="group.user.name"></div>
            </div>

            <label>Emails:</label>
            <div class="form-group" ng-repeat="email in group.emails">
                <div class="form-control" ng-bind="email"></div>
            </div>

            <button class="btn btn-danger" ng-click="deleteGroup(group)">DELETE</button>
        </div>

    </div>


</div>