
<div class="inner-header">
    <form name="uploadForm">
        <div class="pull-left inner-header-files">Home</div>
        <div class="pull-right upload-area">
            <button class="pull-right btn btn-primary" ng-click="uploadFile(inputFile)" ng-disabled="uploadForm.$invalid">Upload</button>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" ngf-select ng-model="inputFile" name="file"
                           accept="/*" ngf-max-size="400MB" required
                           ngf-model-invalid="errorFile"/>
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
            <div>
                {{status}}
            </div>
        </div>

    </form>
</div>

<div class="col-md-12 section-home">

    <ul class="nav nav-tabs">
      <li role="presentation" ng-click="selectTab(1)" ng-class="{ 'active': currentTab == 1 }"><a href="#">My Files</a></li>
      <li role="presentation" ng-click="selectTab(2)" ng-class="{ 'active': currentTab == 2 }"><a href="#">Shared with me</a></li>
    </ul>

    <div ng-if="currentTab == 1">

        <table class="table table-bordered">

          <tr>
            <th>##</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Size</th>
            <th>Secuirty</th>
            <th>Share</th>
            <th>Download</th>
            <th>Delete</th>
          </tr>

          <tr ng-repeat="file in myFiles">
            <td ng-bind="$index+1"></td>
            <td ng-bind="file.name"></td>
            <td ng-bind="file.user.name"></td>
            <td ng-bind="file.size | filesize"></td>
            <td ng-bind="file.security.name"></td>
            <td><button class="btn btn-primary" ng-click="share(file,$event)">SHARE</button></td>
            <td><button class="btn btn-success" ng-click="download(file,$event)">DOWNLOAD</button></td>
            <td><button class="btn btn-danger" ng-click="deleteFile(file)">DELETE</button></td>
          </tr>

        </table>

    </div>

    <div ng-if="currentTab == 2">

        <table class="table table-bordered">

            <tr>
                <th>##</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Size</th>
                <th>Pepole</th>
                <th>Secuirty</th>
                <th>Share</th>
                <th>Download</th>
                <th>Remove</th>
            </tr>

            <tr ng-repeat="file in shareFiles">
                <td ng-bind="$index+1"></td>
                <td ng-bind="file.data.name"></td>
                <td ng-bind="file.data.user.name"></td>
                <td ng-bind="file.data.size | filesize"></td>
                <!--<td ng-bind="emails(file.emails)"></td>-->
                <!--<td ng-bind="file.emails[0]"></td>-->
                <td>
                    <div ng-repeat="email in file.data.emails">
                        {{email}}
                    </div>
                </td>
                <!--<td ng-bind="file.data.security.name"></td>-->
                <td>
                    <div ng-class="file.isFilePermitted ? 'glyphicon glyphicon-ok success' : 'glyphicon glyphicon-remove error'"></div>
                    <button class="btn btn-group-lg" ng-click="viewPolicy(file)">VIEW</button>
                </td>

                <td><button class="btn btn-primary" ng-click="share(file.data,$event)" ng-disabled="!file.isFilePermitted">SHARE</button></td>
                <td><button class="btn btn-success" ng-click="download(file.data,$event)" ng-disabled="!file.isFilePermitted">DOWNLOAD</button></td>
                <td><button class="btn btn-danger" ng-click="removeSharedFile(file)">REMOVE</button></td>
            </tr>

        </table>

    </div>

</div>