<md-dialog class="modal-content" aria-label="Mango(Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools modal-header">
                <h2>Share</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="isFailad" class="alert alert-danger fade in">
                    <strong>Failad!</strong> sharing file.
                </div>
                <div ng-if="isSuccess" class="alert alert-success fade in">
                    <strong>success!</strong> share file.
                </div>
                <div class="form-group">
                    <label>Name:</label>
                    <h4>{{file.name}}</h4>
                </div>

                <!-- Security -->
                <div ng-if="file.user._id==user._id" class="form-group">
                    <label>Security policy:</label>
                    <div ng-if="file.security">Current policy: {{file.security.name}}</div>
                    <select name="security" id="security" class="form-control" tabindex="1"
                            ng-options="security.name for security in securityPolicies"
                            ng-model="file.security" required>
                    </select>
                </div>

                <!-- Groups -->
                <div ng-if="groups.length>0" class="form-group">
                    <label>Groups:</label>
                    <div class="form-inline">
                        <select name="groups" id="group" class="form-control" tabindex="2"
                                ng-options="group.name for group in groups"
                                ng-model="group" required>
                        </select>
                        <button class="btn btn-success" ng-click="addGroup(group)">Add</button>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label>Email:</label>
                    <div class="form-inline">
                        <input type="email" class="form-control" name="Email" ng-model="email" tabindex="2"
                               placeholder="Name" autofocus />
                        <button class="btn btn-success" ng-click="addEmail(email)" ng-disabled="email==file.user.email">Add</button>
                    </div>
                </div>

                <!-- Email List -->
                <div class="form-group form-mail-list">
                    <label>Emails:</label>
                    <div ng-repeat="email in file.emails track by $index" style="margin-bottom: 5px">
                        <div class="form-inline" style="display: flex">
                            <span style="padding: 10px 0; width: 100%">{{email}}</span>
                            <button class="btn btn-danger" ng-click="removeEmail(email)" ng-disabled="email==user.email">remove</button>
                        </div>
                    </div>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="save(file)" tabindex="4">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>