<md-dialog class="modal-content" aria-label="Mango(Fruit)">
    <form ng-cloak>
        <!--<form name="dialog-password.js" ng-submit="registerForm(user)">-->
        <md-toolbar>
            <div class="md-toolbar-tools modal-header">
                <h2>Password policy</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h4>Create new password policy</h4>
                <!-- Name -->
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="Name" ng-model="policy.name" tabindex="1"
                           placeholder="Name" required autofocus/>
                </div>
                <!-- Complixity -->
                <div class="form-group">
                    <label>Complexity:</label>
                    <!--<select class="form-control" ng-model="policy.complixity" name="complixity" ng-options="y.name for (x, y) in model.Complaxity">-->
                    <!--<select class="form-control" name="complixity" id="complixity" ng-model="policy.complixity">-->
                    <!--<option ng-repeat="option in model.Complaxity" value="{{option.name}}">{{option.name}}</option>-->
                    <!--</select>-->
                    <select name="complexity" id="complexity" class="form-control" tabindex="2"
                            ng-options="option.name for option in model.Complexity"
                            ng-model="policy.complexity"></select>
                    </select>
                </div>
                <!-- History -->
                <div class="form-group">
                    <label>History:</label>
                    <select name="history" id="history" class="form-control" tabindex="3"
                            ng-options="option.name for option in model.History"
                            ng-model="policy.history"></select>
                    </select>
                </div>

                <!-- Expired -->
                <div class="form-group">
                    <label>Expired:</label>
                    <select name="expired" id="expired" class="form-control" tabindex="4"
                            ng-options="option.name for option in model.Expired"
                            ng-model="policy.expired"></select>
                    </select>
                </div>

                <!-- Minimum length -->
                <div class="form-group">
                    <label>Minimum length:</label>
                    <select name="length" id="length" class="form-control" tabindex="5"
                            ng-options="option.name for option in model.Length"
                            ng-model="policy.length"></select>
                    </select>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
            <!--More on Wikipedia-->
            <!--</md-button>-->

            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="save(policy)" tabindex="6">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>